/* 
 * ----------------
 * == Main Rules ==
 * ----------------
 */
/* sections */
html {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #2b2b2b;
}
body {
	font-family: 'Open Sans';
	color: #111;
}
header { margin-bottom: 53px; }
footer {
	background: #2b2b2b;
	color: #eee;
	padding: 30px 0;
	font-weight: lighter;	
}
footer p { 
	line-height: 200%;
	font-size: 14px;
	margin: 0; 
}
footer a, footer a:hover, footer a:visited, footer a:focus, footer a:active { color: #e74c3c; }
footer a:hover, footer a:focus, footer a:active { text-decoration: underline; }
section { padding: 40px 0; }
section:nth-child(odd) { background: #f4f4f4; }
#wrapper {
	overflow-x: hidden;
}

/* texts */
h1 {
	font-family: 'Montserrat';
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -2px;
	margin-bottom: 30px;
}
h2 {
	font-family: 'Montserrat';
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: -2px;
	margin-bottom: 30px;
	border-bottom: 2px dotted #e74c3c;
	padding: 0 10px 2px 2px;
	display: inline-block;
}
p { 
	font-size: 16px;
	line-height: 160%;
	text-align: justify; 
	margin-bottom: 30px;
}
em {
	background: #ddd;
	padding: 0 5px;
	border-radius: 4px;
	color: #2980b9;
	font-style: normal;
	font-family: 'Consolas';
}
a, a:hover, a:visited, a:focus, a:active { color: #1abc9c; }
a:hover, a:focus, a:active { text-decoration: underline; }
p.links {
	margin: 30px 0;
}
p.links a {
	background: transparent;
	color: #e74c3c;
	border: 2px solid #e74c3c;
	border-radius: 20px;
	padding: 0px 12px 8px;
	transition: all 0.2s ease-in-out;
}
p.links a:hover, p.links a:focus {
	background: #e74c3c;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}
p.links a:focus { text-decoration: underline; }
p.links a i { 
	position: relative;
	top: 4px;
}
p.links a.pull-right i { margin-left: 5px; }
p.links a.pull-left i { margin-right: 5px; }

/* table */
table.operator {
    margin: 25px auto;
    border-collapse: collapse;
    border-spacing: 0;
}
.operator td.operator {
    padding: 10px 20px;
    text-align: center;
    font-size: 48px;
    font-family: 'Consolas', Courier,monospace;
    background-color: #e0e0e0;
    border: 1px solid #828282;
}
.operator #blank { background-color: #828282; }
.operator #symbol { color: #f75964; }
.operator .result { color: #2980b9; }
/* lists */
ul.material-list {
	list-style: none;
	padding: 0;
	margin: 40px 0;
}
ul.material-list li {
	padding: 5px 15px;
	transition: all 0.2s ease-in-out;
	border-bottom: 1px solid #d7d7d7;
	vertical-align: middle;
}
ul.material-list li:last-child { border-bottom: 0px; }
ul.material-list li:hover {
	background: #d7d7d7;
	transition: all 0.2s ease-in-out;
}
ul.material-list li span {
	display:inline-block;
	height: 32px;
	width: 32px;
	background: #ddd;
	margin-right: 12px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	line-height: 32px;
	font-size: 20px;
	font-weight: lighter;
}
ul.material-list li span.pdf { background: #d02d16; }
ul.material-list li span.web { background: #00abdc; }
ul.material-list li span.ppt { background: #e65618; }
ul.material-list li span.doc { background: #2564a9; }
ul.material-list li span.hw { background: #000; }
ul.material-list li span.yt { background: #e94639; }
ul.material-list li span.quiz { background: #2c3e50; }

ul.material-list li a, ul.material-list li a:hover, ul.material-list li a:focus, ul.material-list li a:visited { color: #333; }
ul.material-list li a:hover { text-decoration: underline; }

.quiz-box {
	background: #fff;
	padding: 30px 15px;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}
.quiz-box h3 {
	font-size: 20px;
	margin: 0 0 15px;
	text-align: justify;
	padding: 0 15px;
}
.quiz-box ul {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
}
.quiz-box ul li {
	padding: 15px;
	width: 100%;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	font-size: 18px;
	font-family: 'Open Sans';
	border-bottom: 1px solid #ddd;
}
.quiz-box ul li:nth-child(even) {
	background: #eee;
}
.quiz-box ul li:last-child { border-bottom: 0; }
.quiz-box ul li:hover { 
	background: #ddd; 
	transition: all 0.2s ease-in-out;
}
.quiz-box ul li.success { 
	background: #1abc9c;
	color: #fff;
}
.quiz-box ul li.error { 
	background: #e74c3c;
	color: #fff;
}
.fa-quiz {
	font-size: 24px;
	float: right;
}
.btn-quiz, .btn-quiz:visited {
	background: #34495e;
	color: #fff !important;
	padding: 12px;
	font-size: 16px;
	display: block;
	width: 230px;
	margin: 30px auto 0;
}
.btn-quiz:hover, .btn-quiz:focus, .btn-quiz:active {
	background: #2c3e50;
	color: #fff;
	transition: all 0.2s ease-in-out;
}
#btn-again-icon { margin-left: 5px; }
	
/* helpers */
.mgb0 { margin-bottom: 0} .mgb10 { margin-bottom: 10px} .mgb15 { margin-bottom: 15px} .mgb20 { margin-bottom: 20px} .mgb30 { margin-bottom: 30px} .mgb40 { margin-bottom: 40px} .mgb60 { margin-bottom: 60px}
.mgt0 { margin-top: 0} .mgt10 { margin-top: 10px} .mgt15 { margin-top: 15px} .mgt20 { margin-top: 20px} .mgt30 { margin-top: 30px} .mgt40 { margin-top: 40px} .mgt60 { margin-top: 60px}



/* Bootstrap overrides */
.navbar-skin {
	background: #e74c3c;
	color: #fff;
}
.navbar-skin .navbar-nav>li>a {
	color: #fff;
	transition: all 0.2s ease-in-out;
	text-shadow: none;
	height: 53px;
}
.navbar-skin .navbar-nav>li>a:hover, .navbar-skin .navbar-nav>li>a:focus, .navbar-skin .navbar-nav>li>a:active {
	color: rgba(255,255,255,0.6);
	transition: all 0.2s ease-in-out;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
	background: #c0392b;
	color: #fff;
	text-shadow: none;
	box-shadow: none;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:active {
	background: #e74c3c;
	color: #fff;	
}
.navbar-brand { height: 53px; }
.navbar-default .navbar-brand { 
	color: #fff;
	text-shadow: none;
	font-weight: lighter;
	transition: all 0.2s ease-in-out;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #fff;
	background: #c0392b;
	transition: all 0.2s ease-in-out;
}
span.navbar-vhr {
    background: rgb(245, 109, 95);
    height: 33px;
	width: 1px;
    padding: 15px 0;
    margin: 10px 0;
    float: left;
}
.navbar-brand i.fa-2x {
	position: relative;
	top: -6px;
}
span.navbar-description {
	float: left;
	padding: 15px 0;
	margin-left: 15px;
	position: relative;
	top: 2px;
}

@media (min-width: 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 0px; }
}
.navbar-default .navbar-toggle { border: 0 }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background: transparent; }
.navbar-default .navbar-toggle .icon-bar { 
	background: #fff; 
	border-radius: 0;
	height: 3px;
	width: 28px;
	border-radius: 0;
}
.navbar-toggle .icon-bar+.icon-bar { margin-top: 5px; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: #da4737; }

@media(max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a { color: #fff; }
}

/* HighlightJS overrides */
.console-header {
	background: #d7d7d7;
	margin-bottom: 0;
	padding: 5px 15px;
}
pre { 
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	-moz-tab-size: 6; /* Code for Firefox */
	-o-tab-size: 6; /* Code for Opera 10.6-12.1 */
	tab-size: 6;
}
pre.exe {
	background: #000;
	color: #eee;
	padding: 15px 0.5em;
	font-size: 13px;
	margin-bottom: 40px;
}
pre code { }
.hljs { 
	background: #e0e0e0;
	font-family: 'Consolas', Courier,monospace;
	font-size: 16px;
	line-height: 125%;
	color: #000;
	letter-spacing: -0.5px;
}
.hljs-meta-string, .hljs-meta { color: #20ab90; }
.hljs-function { }
.hljs-keyword { 
	color: #2980b9; 
	font-weight: bold;
}
.hljs-number { color: #f39c12; }
.hljs-params { }
.hljs-title { color: #000; } 
.hljs-built_in { 
	font-weight: bold;
	color: #2980b9; 
}
.hljs-string { color: #f75964; }
.hljs-literal { 
	font-weight: bold;
	color: #8e44ad; 
}
.hljs-comment { font-weight: normal; }

